#scrubber {
  width: 1px;
  height: 200px;
  position: absolute;
  background-color: black;
}

#track-control-container {
  display: inline-block;
  width: 100px;
}

#track-container {
  display: inline-block;
  overflow: auto;
  width: 600px;
}

.track-control {
  height: 200px;
  background-color: green;
}

.canvas-container {
  display: inline-block;
}

canvas {
  display: block;
  border-right: 1px solid red;
}

.close-button {
  position: absolute;
}
